<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Nova publicação</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="publicationForm" (ngSubmit)="publish()">
        <div class="modal-body">
          <input type="text" placeholder="Insira o título da publicação" class="form-control"
            formControlName="newPublicationTitle">
            <input type="file" class="form-control"
            accept="image/*"
            formControlName="newPublicationFileUpload"
            (change)="prepareUpload($event)"
            >
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Publicar</button>
        </div>
      </form>
    </div>
  </div>
</div>
